window-rule {
    clip-to-geometry            true
    geometry-corner-radius      5
    draw-border-with-background false
    background-effect {
        xray false
        blur true
    }
}

// floating
window-rule {
    match app-id="(?i)^thunar$"
    exclude title="^.* - Thunar$"

    open-floating true
}
window-rule {
    match app-id="^xdg-desktop-portal-gtk$"
    match app-id="^firefox$" title="^Library$"
    match app-id="^steam$" title="^(Steam Settings)|(Add Non-Steam Game)$"

    open-floating true
    default-column-width  { fixed 1000; }
    default-window-height { fixed 800; }
}
window-rule {
    match app-id="^xarchiver$" title="^Extract files$"
    match app-id="^firefox$" title="^About Mozilla Firefox$"
    match app-id="^steam$" title="^System Information$"

    open-floating true
    default-column-width  { fixed 800; }
    default-window-height { fixed 600; }
}
window-rule {
    match app-id="^firefox$" title="^Picture-in-Picture$"

    open-floating true
    default-column-width  { fixed 640; }
    default-window-height { fixed 360; }
}
window-rule {
    match app-id="^steam$" title="^Friends List$"

    open-floating true
    default-column-width  { fixed 400; }
    default-window-height { fixed 800; }
}
window-rule {
    match app-id="^steam$" title=r#"^notificationtoasts_\d+_desktop$"#

    open-focused false
    default-floating-position x=0 y=0 relative-to="bottom-right"
}
